In [1]:
def get_power_demand(start_date, end_date):
    
    if not isinstance(start_date, str):
        return print('Check start_date')
    elif not isinstance(end_date, str):
        return print('Check end_date')

    import pandas as pd
    import datetime
    import time

    url = f"http://www.happydr.co.kr/?act=&mid=CurrentSupplyView&vid=&view=table&option_date={start_date}"
    start_date = datetime.datetime.strptime(start_date, '%Y%m%d').date()
    end_date = datetime.datetime.strptime(end_date, '%Y%m%d').date()
    tmp_date = start_date

    col_order = pd.read_html(url)[1].columns.tolist()
    df = pd.DataFrame()

    while True:
        url = f"http://www.happydr.co.kr/?act=&mid=CurrentSupplyView&vid=&view=table&option_date={start_date}"
        data = pd.read_html(url)[2]
        data = data[::-1]

        df = pd.concat([df, data], axis=0)
        
        time.sleep(0.2)

        start_date += datetime.timedelta(1)

        if start_date > end_date:
            break

    df.sort_values(by=0, inplace=True)
    df.columns = col_order
    df.reset_index(drop=True, inplace=True)
    print(f'Complete to {tmp_date} to {end_date}')

    return df

In [ ]:
def get_power_demand_EPSIS(start_date, end_date, driver_path):
    
    if not isinstance(start_date, str):
        return print('Check start_date')
    elif not isinstance(end_date, str):
        return print('Check end_date')

    import pandas as pd
    import datetime
    import time
    from selenium import webdriver
    from selenium.webdriver.common.by import By

    url = "https://epsis.kpx.or.kr/epsisnew/selectEkgeEpsMepRealChart.do?menuId=030300"
    start_date = datetime.datetime.strptime(start_date, '%Y%m%d').date()
    end_date = datetime.datetime.strptime(end_date, '%Y%m%d').date()
    tmp_date = start_date

    driver = webdriver.Chrome(driver_path)
    driver.get(url)
    df = pd.DataFrame()

    while True:

        keyword = driver.find_element(By.CSS_SELECTOR, '#selEndDate')
        keyword.clear()
        keyword.send_keys(start_date)

        data = pd.read_html(url)[2]
        data = data[::-1]

        df = pd.concat([df, data], axis=0)
        
        time.sleep(0.2)

        start_date += datetime.timedelta(1)

        if start_date > end_date:
            break

    df.sort_values(by=0, inplace=True)
    df.columns = col_order
    df.reset_index(drop=True, inplace=True)
    print(f'Complete to {tmp_date} to {end_date}')

    return df

In [5]:
import pandas as pd
import datetime
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

url = "https://epsis.kpx.or.kr/epsisnew/selectEkgeEpsMepRealChart.do?menuId=030300"
start_date = datetime.datetime.strptime('20230320', '%Y%m%d').date()
end_date = datetime.datetime.strptime('20230323', '%Y%m%d').date()
tmp_date = start_date

# 브라우저 꺼짐 방지 옵션
chrome_options = Options()
chrome_options.add_experimental_option("detach", True)

# 불필요한 에러 메시지 삭제
chrome_options.add_experimental_option("excludeSwitches", ["enable-logging"])

# 크롬 드라이버 최신 버전 설정
service = Service(executable_path=ChromeDriverManager().install())

browser = webdriver.Chrome(service=service, options=chrome_options)

browser.get(url)
df = pd.DataFrame()

[WDM] - Downloading: 100%|██████████| 6.81M/6.81M [00:00<00:00, 11.5MB/s]

In [11]:
start_date.strftime("%Y%m%d")

'20230320'

In [12]:
keyword = browser.find_element(By.CSS_SELECTOR, '#selEndDate')
keyword.send_keys(start_date.strftime("%Y-%m-%d"))

# data = pd.read_html(url)[2]
# data = data[::-1]
# df = pd.concat([df, data], axis=0)
    
# time.sleep(0.2)
# start_date += datetime.timedelta(1)

In [13]:
browser.quit()

In [ ]:
while True:

    keyword = driver.find_element(By.CSS_SELECTOR, '#selEndDate')
    keyword.clear()
    keyword.send_keys(start_date)
    data = pd.read_html(url)[2]
    data = data[::-1]
    df = pd.concat([df, data], axis=0)
    
    time.sleep(0.2)
    start_date += datetime.timedelta(1)
    if start_date > end_date:
        break

df.sort_values(by=0, inplace=True)
df.columns = col_order
df.reset_index(drop=True, inplace=True)
print(f'Complete to {tmp_date} to {end_date}')

In [6]:
df = get_power_demand('20220408', '20230320')

Complete to 2022-04-08 to 2023-03-20

In [17]:
pd.__version__

'1.5.2'

In [7]:
df

                   기준시간      공급능력      현재부하     공급예비력     운영예비력   운영예비율
0      2022-04-08 00:00  82759100  61323400  21435700  11446100  18.7 %
1      2022-04-08 00:05  82641800  61504300  21137600  10842100  17.6 %
2      2022-04-08 00:10  82641900  61019600  21622300  10733500  17.6 %
3      2022-04-08 00:15  82644200  60801000  21843200  10828700  17.8 %
4      2022-04-08 00:20  82624200  60591500  22032700  11103200  18.3 %
...                 ...       ...       ...       ...       ...     ...
99931  2023-03-20 23:35  84398200  64475600  19922600  10068500  15.6 %
99932  2023-03-20 23:40  84394600  64211800  20182700  10117800  15.8 %
99933  2023-03-20 23:45  84395700  63576800  20818900  10455500  16.4 %
99934  2023-03-20 23:50  84384900  63223900  21160900  10446800  16.5 %
99935  2023-03-20 23:55  84394000  62396500  21997500  10718000  17.2 %

[99936 rows x 6 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99936 entries, 0 to 99935
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기준시간    99936 non-null  object
 1   공급능력    99936 non-null  int64
 2   현재부하    99936 non-null  int64
 3   공급예비력   99936 non-null  int64
 4   운영예비력   99936 non-null  int64
 5   운영예비율   99936 non-null  object
dtypes: int64(4), object(2)
memory usage: 4.6+ MB

In [9]:
df.to_csv('./data/한국전력거래소_5분단위 전력수급현황_20220408_20230320.csv')

In [15]:
import pandas as pd
import html5lib

In [18]:
df_valid1 = get_power_demand('20160101', '20161231')
df_valid2 = get_power_demand('20170101', '20171231')
df_valid3 = get_power_demand('20180101', '20181231')
df_valid4 = get_power_demand('20190101', '20191231')
df_valid5 = get_power_demand('20200101', '20201231')
df_valid6 = get_power_demand('20210101', '20220407')

df_valid = pd.concat([df_valid1,df_valid2,df_valid3,df_valid4,df_valid5,df_valid6])

Complete to 2016-01-01 to 2016-12-31
Complete to 2017-01-01 to 2017-12-31
Complete to 2018-01-01 to 2018-12-31
Complete to 2019-01-01 to 2019-12-31
Complete to 2020-01-01 to 2020-12-31
Complete to 2021-01-01 to 2022-04-07

In [55]:
df_valid.to_csv("./data/df_valid.csv")

In [19]:
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 659232 entries, 0 to 133055
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   기준시간    659232 non-null  object
 1   공급능력    659232 non-null  int64
 2   현재부하    659232 non-null  int64
 3   공급예비력   659232 non-null  int64
 4   운영예비력   659232 non-null  int64
 5   운영예비율   659232 non-null  object
dtypes: int64(4), object(2)
memory usage: 35.2+ MB

In [21]:
df_real = pd.read_csv("./data/한국전력거래소_5분단위 전력수급현황_20220407.csv", encoding='euc-kr')

In [25]:
df_real

,기준일시,공급능력(MW),현재수요(MW),최대예측수요(MW),공급예비력(MW),공급예비율(퍼센트),운영예비력(MW),운영예비율(퍼센트)
0,2012-06-01 00:00,64355.0,51726.33,59400,12628.67,24.41439,12628.67,24.41439
1,2012-06-01 00:05,64355.0,51342.53,60800,13012.47,25.34442,13012.47,25.34442
2,2012-06-01 00:10,64355.0,51583.17,60800,12771.83,24.75969,12771.83,24.75969
3,2012-06-01 00:15,64355.0,51631.69,60800,12723.31,24.64245,12723.31,24.64245
4,2012-06-01 00:20,64355.0,51252.66,60800,13102.35,25.56423,13102.35,25.56423
...,...,...,...,...,...,...,...,...
1035062,2022-04-07 23:35,82791.9,63877.30,69300,18914.70,29.61100,10803.00,16.91210
1035063,2022-04-07 23:40,82768.1,63525.30,69300,19242.80,30.29160,10696.40,16.83800
1035064,2022-04-07 23:45,82767.9,63506.20,69300,19261.70,30.33040,10501.30,16.53580
1035065,2022-04-07 23:50,82762.4,62819.60,69300,19942.80,31.74610,10706.30,17.04290
1035066,2022-04-07 23:55,82765.0,62445.80,69300,20319.10,32.53880,10835.90,17.35240

In [34]:
df_real_2016 = df_real[df_real['기준일시'].str.split("-").str[0] >= '2016'].reset_index(drop=True)

In [39]:
df_valid_not_zero = df_valid[df_valid['공급능력'] != 0]

In [43]:
df_valid_not_zero.rename(columns={'기준시간':'기준일시'}, inplace=True)

C:\Users\jiho\AppData\Local\Temp\ipykernel_21940\3338620659.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valid_not_zero.rename(columns={'기준시간':'기준일시'}, inplace=True)

In [60]:
valid = df_valid_not_zero.merge(df_real_2016, on='기준일시', how='left')

In [61]:
for i in valid.columns[1:5]:
    valid[i] = valid[i].apply(lambda x: round(x/1000, 1) if i in valid.columns[1:3] else round(x/1000, 2))

In [62]:
valid

,기준일시,공급능력,현재부하,공급예비력,운영예비력,운영예비율,공급능력(MW),현재수요(MW),최대예측수요(MW),공급예비력(MW),공급예비율(퍼센트),운영예비력(MW),운영예비율(퍼센트)
0,2016-11-24 17:55,83190.0,74247.7,8942.26,8407.26,11.3 %,83190.0,74247.7,73340.0,8942.26,12.0438,8407.26,11.3233
1,2016-11-24 18:05,83190.0,73679.3,9510.66,8975.66,12.2 %,83190.0,73679.3,73340.0,9510.66,12.9082,8975.66,12.1821
2,2016-11-24 18:15,83210.0,73683.1,9526.90,8991.90,12.2 %,83210.0,73683.1,73340.0,9526.90,12.9296,8991.90,12.2035
3,2016-11-24 18:25,83210.0,73499.4,9710.63,9175.63,12.5 %,83210.0,73499.4,73340.0,9710.63,13.2119,9175.63,12.4840
4,2016-11-24 18:35,83210.0,73115.3,10094.70,9559.67,13.1 %,83210.0,73115.3,73340.0,10094.70,13.8065,9559.67,13.0748
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541983,2022-04-07 23:35,82791.9,63877.3,18914.70,10803.00,16.9 %,82791.9,63877.3,69300.0,18914.70,29.6110,10803.00,16.9121
541984,2022-04-07 23:40,82768.1,63525.3,19242.80,10696.40,16.8 %,82768.1,63525.3,69300.0,19242.80,30.2916,10696.40,16.8380
541985,2022-04-07 23:45,82767.9,63506.2,19261.70,10501.30,16.5 %,82767.9,63506.2,69300.0,19261.70,30.3304,10501.30,16.5358
541986,2022-04-07 23:50,82762.4,62819.6,19942.80,10706.30,17.0 %,82762.4,62819.6,69300.0,19942.80,31.7461,10706.30,17.0429
541987,2022-04-07 23:55,82765.0,62445.8,20319.10,10835.90,17.4 %,82765.0,62445.8,69300.0,20319.10,32.5388,10835.90,17.3524

In [63]:
valid['공급'] = valid['공급능력'] - valid['공급능력(MW)']
valid['현부'] = valid['현재부하'] - valid['현재수요(MW)']
valid['공예'] = valid['공급예비력'] - valid['공급예비력(MW)']
valid['운예'] = valid['운영예비력'] - valid['운영예비력(MW)']

In [71]:
validset = valid.iloc[:, -4:]

In [89]:
print(validset.max())
print(validset.sum())

공급        0.000
현부     3759.100
공예     1217.324
운예    17864.731
dtype: float64
공급   -5.978600e+05
현부    1.158071e+05
공예   -4.399494e+05
운예    1.627152e+06
dtype: float64

In [74]:
validset[(validset['공급'] != 0) |
         (validset['현부'] != 0) |
         (validset['공예'] != 0) |
         (validset['운예'] != 0)]

         공급     현부   공예   운예
21218   0.0   -0.8  0.8  0.8
54769   0.0   -0.3  0.3  0.3
54771   0.0    1.5 -1.5 -1.5
54772   0.0   -0.5  0.5  0.5
54773   0.0    1.5 -1.5 -1.5
...     ...    ...  ...  ...
508105  0.0 -950.0  0.0  0.0
508106  0.0 -950.0  0.0  0.0
508107  0.0 -950.0  0.0  0.0
508108  0.0 -950.0  0.0  0.0
508109  0.0 -950.0  0.0  0.0

[2108 rows x 4 columns]

In [83]:
validset[(abs(validset['공급']) > 500) |
         (abs(validset['현부']) > 500) |
         (abs(validset['공예']) > 500) |
         (abs(validset['운예']) > 500)]

         공급      현부   공예   운예
119515  0.0  3757.3  0.0  0.0
119516  0.0  3759.1  0.0  0.0
119517  0.0  3756.1  0.0  0.0
119518  0.0  3746.1  0.0  0.0
119519  0.0  3735.7  0.0  0.0
...     ...     ...  ...  ...
508105  0.0  -950.0  0.0  0.0
508106  0.0  -950.0  0.0  0.0
508107  0.0  -950.0  0.0  0.0
508108  0.0  -950.0  0.0  0.0
508109  0.0  -950.0  0.0  0.0

[262 rows x 4 columns]

In [77]:
validset[(abs(validset['공급']) > 1000) |
         (abs(validset['현부']) > 1000) |
         (abs(validset['공예']) > 1000) |
         (abs(validset['운예']) > 1000)]

            공급      현부        공예        운예
119515     0.0  3757.3     0.000     0.000
119516     0.0  3759.1     0.000     0.000
119517     0.0  3756.1     0.000     0.000
119518     0.0  3746.1     0.000     0.000
119519     0.0  3735.7     0.000     0.000
...        ...     ...       ...       ...
297296 -3791.0   145.2 -3759.659  1545.470
297297 -3808.0    14.3 -3668.940  1640.585
297298 -3925.0    34.8 -3806.343  1560.401
297299 -3972.0    53.8 -3872.655  1516.157
297300 -3928.0    34.4 -3809.267  1604.475

[205 rows x 4 columns]

In [82]:
valid.iloc[297296:,:]

,기준일시,공급능력,현재부하,공급예비력,운영예비력,운영예비율,공급능력(MW),현재수요(MW),최대예측수요(MW),공급예비력(MW),공급예비율(퍼센트),운영예비력(MW),운영예비율(퍼센트),공급,현부,공예,운예
297296,2019-11-27 16:05,87026.0,73520.2,13505.8,10960.8,14.9 %,90817.0,73375.0,73800.0,17265.459,23.530437,9415.330,12.831796,-3791.0,145.2,-3759.659,1545.470
297297,2019-11-27 17:15,87026.0,73268.3,13757.7,11212.7,15.3 %,90834.0,73254.0,73800.0,17426.640,23.789337,9572.115,13.067020,-3808.0,14.3,-3668.940,1640.585
297298,2019-11-27 17:20,87026.0,73568.8,13457.2,10912.2,14.8 %,90951.0,73534.0,73800.0,17263.543,23.476954,9351.799,12.717653,-3925.0,34.8,-3806.343,1560.401
297299,2019-11-27 17:25,87026.0,73712.8,13313.2,10768.2,14.6 %,90998.0,73659.0,73800.0,17185.855,23.331644,9252.043,12.560641,-3972.0,53.8,-3872.655,1516.157
297300,2019-11-27 17:30,87026.0,73296.4,13729.6,11184.6,15.3 %,90954.0,73262.0,73800.0,17538.867,23.939924,9580.125,13.076527,-3928.0,34.4,-3809.267,1604.475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541983,2022-04-07 23:35,82791.9,63877.3,18914.7,10803.0,16.9 %,82791.9,63877.3,69300.0,18914.700,29.611000,10803.000,16.912100,0.0,0.0,0.000,0.000
541984,2022-04-07 23:40,82768.1,63525.3,19242.8,10696.4,16.8 %,82768.1,63525.3,69300.0,19242.800,30.291600,10696.400,16.838000,0.0,0.0,0.000,0.000
541985,2022-04-07 23:45,82767.9,63506.2,19261.7,10501.3,16.5 %,82767.9,63506.2,69300.0,19261.700,30.330400,10501.300,16.535800,0.0,0.0,0.000,0.000
541986,2022-04-07 23:50,82762.4,62819.6,19942.8,10706.3,17.0 %,82762.4,62819.6,69300.0,19942.800,31.746100,10706.300,17.042900,0.0,0.0,0.000,0.000
541987,2022-04-07 23:55,82765.0,62445.8,20319.1,10835.9,17.4 %,82765.0,62445.8,69300.0,20319.100,32.538800,10835.900,17.352400,0.0,0.0,0.000,0.000

In [97]:
df_real_2016[df_real_2016['기준일시'] == '2019-11-27 16:05']

,기준일시,공급능력(MW),현재수요(MW),최대예측수요(MW),공급예비력(MW),공급예비율(퍼센트),운영예비력(MW),운영예비율(퍼센트)
410460,2019-11-27 16:05,90817.0,73375.0,73800,17265.459,23.530437,9415.33,12.831796

In [102]:
df_valid[df_valid['기준시간'] == '2019-11-27 16:05']

                   기준시간      공급능력      현재부하     공급예비력     운영예비력   운영예비율
95233  2019-11-27 16:05  87026000  73520200  13505800  10960800  14.9 %

In [3]:
import pandas as pd
import requests
import json
import time

In [4]:
def getHolidays(year,month,key):
    url = 'http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo'

    params = {
            'solYear':str(year),
            'solMonth':str(month).zfill(2),
            'numOfRows':'20',
            '_type':'json',
            'ServiceKey' : key
            }
    
    res = requests.get(url,params=params)
    dic = json.loads(res.text)
    counts = dic['response']['body']['totalCount']

    if counts < 1 :
        return []

    item =  dic['response']['body']['items']['item']

    print(item)

    if counts == 1:
        return [item]

    return item

In [5]:
api_key = 'yJJy5dAw+XW9PSsnnA7wROpORFf3AXL9Cvi9M6YsvpPPlUoJJFwmfT1KVKxIsU2be6EPGFKv3YHLU+DZJ9d4Vw=='

holidays = []

for year in range(2012, 2024):
    for month in range(1,13):
        try:
            holidays.extend(getHolidays(year, month, api_key))
        except:
            time.sleep(2)
            holidays.extend(getHolidays(year, month, api_key))

[{'dateKind': '01', 'dateName': '신정', 'isHoliday': 'Y', 'locdate': 20120101, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20120122, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20120123, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20120124, 'seq': 1}]
{'dateKind': '01', 'dateName': '삼일절', 'isHoliday': 'Y', 'locdate': 20120301, 'seq': 1}
{'dateKind': '01', 'dateName': '국회의원선거일', 'isHoliday': 'Y', 'locdate': 20120411, 'seq': 1}
[{'dateKind': '01', 'dateName': '어린이날', 'isHoliday': 'Y', 'locdate': 20120505, 'seq': 1}, {'dateKind': '01', 'dateName': '석가탄신일', 'isHoliday': 'Y', 'locdate': 20120528, 'seq': 1}]
{'dateKind': '01', 'dateName': '현충일', 'isHoliday': 'Y', 'locdate': 20120606, 'seq': 1}
{'dateKind': '01', 'dateName': '광복절', 'isHoliday': 'Y', 'locdate': 20120815, 'seq': 1}
[{'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20120929, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20120930, 'seq': 1}]
[{'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20121001, 'seq': 1}, {'dateKind': '01', 'dateName': '개천절', 'isHoliday': 'Y', 'locdate': 20121003, 'seq': 1}]
[{'dateKind': '01', 'dateName': '대통령선거일', 'isHoliday': 'Y', 'locdate': 20121219, 'seq': 1}, {'dateKind': '01', 'dateName': '기독탄신일', 'isHoliday': 'Y', 'locdate': 20121225, 'seq': 1}]
{'dateKind': '01', 'dateName': '신정', 'isHoliday': 'Y', 'locdate': 20130101, 'seq': 1}
[{'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20130209, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20130210, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20130211, 'seq': 1}]
{'dateKind': '01', 'dateName': '삼일절', 'isHoliday': 'Y', 'locdate': 20130301, 'seq': 1}
[{'dateKind': '01', 'dateName': '어린이 날', 'isHoliday': 'Y', 'locdate': 20130505, 'seq': 1}, {'dateKind': '01', 'dateName': '석가탄신일', 'isHoliday': 'Y', 'locdate': 20130517, 'seq': 1}]
{'dateKind': '01', 'dateName': '현충일', 'isHoliday': 'Y', 'locdate': 20130606, 'seq': 1}
{'dateKind': '01', 'dateName': '광복절', 'isHoliday': 'Y', 'locdate': 20130815, 'seq': 1}
[{'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20130918, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20130919, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20130920, 'seq': 1}]
[{'dateKind': '01', 'dateName': '개천절', 'isHoliday': 'Y', 'locdate': 20131003, 'seq': 1}, {'dateKind': '01', 'dateName': '한글날', 'isHoliday': 'Y', 'locdate': 20131009, 'seq': 1}]
{'dateKind': '01', 'dateName': '기독탄신일', 'isHoliday': 'Y', 'locdate': 20131225, 'seq': 1}
[{'dateKind': '01', 'dateName': '신정', 'isHoliday': 'Y', 'locdate': 20140101, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20140130, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20140131, 'seq': 1}]
{'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20140201, 'seq': 1}
{'dateKind': '01', 'dateName': '삼일절', 'isHoliday': 'Y', 'locdate': 20140301, 'seq': 1}
[{'dateKind': '01', 'dateName': '어린이날', 'isHoliday': 'Y', 'locdate': 20140505, 'seq': 1}, {'dateKind': '01', 'dateName': '석가탄신일', 'isHoliday': 'Y', 'locdate': 20140506, 'seq': 1}]
[{'dateKind': '01', 'dateName': '동시지방선거일', 'isHoliday': 'Y', 'locdate': 20140604, 'seq': 1}, {'dateKind': '01', 'dateName': '현충일', 'isHoliday': 'Y', 'locdate': 20140606, 'seq': 1}]
{'dateKind': '01', 'dateName': '광복절', 'isHoliday': 'Y', 'locdate': 20140815, 'seq': 1}
[{'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20140907, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20140908, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20140909, 'seq': 1}, {'dateKind': '01', 'dateName': '대체공휴일', 'isHoliday': 'Y', 'locdate': 20140910, 'seq': 1}]
[{'dateKind': '01', 'dateName': '개천절', 'isHoliday': 'Y', 'locdate': 20141003, 'seq': 1}, {'dateKind': '01', 'dateName': '한글날', 'isHoliday': 'Y', 'locdate': 20141009, 'seq': 1}]
{'dateKind': '01', 'dateName': '기독탄신일', 'isHoliday': 'Y', 'locdate': 20141225, 'seq': 1}
{'dateKind': '01', 'dateName': '신정', 'isHoliday': 'Y', 'locdate': 20150101, 'seq': 1}
[{'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20150218, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20150219, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20150220, 'seq': 1}]
{'dateKind': '01', 'dateName': '삼일절', 'isHoliday': 'Y', 'locdate': 20150301, 'seq': 1}
[{'dateKind': '01', 'dateName': '어린이날', 'isHoliday': 'Y', 'locdate': 20150505, 'seq': 1}, {'dateKind': '01', 'dateName': '석가탄신일', 'isHoliday': 'Y', 'locdate': 20150525, 'seq': 1}]
{'dateKind': '01', 'dateName': '현충일', 'isHoliday': 'Y', 'locdate': 20150606, 'seq': 1}
{'dateKind': '01', 'dateName': '광복절', 'isHoliday': 'Y', 'locdate': 20150815, 'seq': 1}
[{'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20150926, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20150927, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20150928, 'seq': 1}, {'dateKind': '01', 'dateName': '대체공휴일', 'isHoliday': 'Y', 'locdate': 20150929, 'seq': 1}]
[{'dateKind': '01', 'dateName': '개천절', 'isHoliday': 'Y', 'locdate': 20151003, 'seq': 1}, {'dateKind': '01', 'dateName': '한글날', 'isHoliday': 'Y', 'locdate': 20151009, 'seq': 1}]
{'dateKind': '01', 'dateName': '기독탄신일', 'isHoliday': 'Y', 'locdate': 20151225, 'seq': 1}
{'dateKind': '01', 'dateName': '신정', 'isHoliday': 'Y', 'locdate': 20160101, 'seq': 1}
[{'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20160207, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20160208, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20160209, 'seq': 1}, {'dateKind': '01', 'dateName': '대체공휴일', 'isHoliday': 'Y', 'locdate': 20160210, 'seq': 1}]
{'dateKind': '01', 'dateName': '삼일절', 'isHoliday': 'Y', 'locdate': 20160301, 'seq': 1}
{'dateKind': '01', 'dateName': '국회의원선거일', 'isHoliday': 'Y', 'locdate': 20160413, 'seq': 1}
[{'dateKind': '01', 'dateName': '어린이날', 'isHoliday': 'Y', 'locdate': 20160505, 'seq': 1}, {'dateKind': '01', 'dateName': '임시공휴일', 'isHoliday': 'Y', 'locdate': 20160506, 'seq': 1}, {'dateKind': '01', 'dateName': '석가탄신일', 'isHoliday': 'Y', 'locdate': 20160514, 'seq': 1}]
{'dateKind': '01', 'dateName': '현충일', 'isHoliday': 'Y', 'locdate': 20160606, 'seq': 1}
{'dateKind': '01', 'dateName': '광복절', 'isHoliday': 'Y', 'locdate': 20160815, 'seq': 1}
[{'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20160914, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20160915, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20160916, 'seq': 1}]
[{'dateKind': '01', 'dateName': '개천절', 'isHoliday': 'Y', 'locdate': 20161003, 'seq': 1}, {'dateKind': '01', 'dateName': '한글날', 'isHoliday': 'Y', 'locdate': 20161009, 'seq': 1}]
{'dateKind': '01', 'dateName': '기독탄신일', 'isHoliday': 'Y', 'locdate': 20161225, 'seq': 1}
[{'dateKind': '01', 'dateName': '신정', 'isHoliday': 'Y', 'locdate': 20170101, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20170127, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20170128, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20170129, 'seq': 1}, {'dateKind': '01', 'dateName': '대체공휴일', 'isHoliday': 'Y', 'locdate': 20170130, 'seq': 1}]
{'dateKind': '01', 'dateName': '삼일절', 'isHoliday': 'Y', 'locdate': 20170301, 'seq': 1}
[{'dateKind': '01', 'dateName': '석가탄신일', 'isHoliday': 'Y', 'locdate': 20170503, 'seq': 1}, {'dateKind': '01', 'dateName': '어린이날', 'isHoliday': 'Y', 'locdate': 20170505, 'seq': 1}, {'dateKind': '01', 'dateName': '대통령선거일', 'isHoliday': 'Y', 'locdate': 20170509, 'seq': 1}]
{'dateKind': '01', 'dateName': '현충일', 'isHoliday': 'Y', 'locdate': 20170606, 'seq': 1}
{'dateKind': '01', 'dateName': '광복절', 'isHoliday': 'Y', 'locdate': 20170815, 'seq': 1}
[{'dateKind': '01', 'dateName': '임시공휴일', 'isHoliday': 'Y', 'locdate': 20171002, 'seq': 2}, {'dateKind': '01', 'dateName': '개천절', 'isHoliday': 'Y', 'locdate': 20171003, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20171003, 'seq': 2}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20171004, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20171005, 'seq': 1}, {'dateKind': '01', 'dateName': '대체공휴일', 'isHoliday': 'Y', 'locdate': 20171006, 'seq': 1}, {'dateKind': '01', 'dateName': '한글날', 'isHoliday': 'Y', 'locdate': 20171009, 'seq': 1}]
{'dateKind': '01', 'dateName': '기독탄신일', 'isHoliday': 'Y', 'locdate': 20171225, 'seq': 1}
{'dateKind': '01', 'dateName': '1월1일', 'isHoliday': 'Y', 'locdate': 20180101, 'seq': 1}
[{'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20180215, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20180216, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20180217, 'seq': 1}]
{'dateKind': '01', 'dateName': '삼일절', 'isHoliday': 'Y', 'locdate': 20180301, 'seq': 1}
[{'dateKind': '01', 'dateName': '어린이날', 'isHoliday': 'Y', 'locdate': 20180505, 'seq': 1}, {'dateKind': '01', 'dateName': '대체휴무일', 'isHoliday': 'Y', 'locdate': 20180507, 'seq': 1}, {'dateKind': '01', 'dateName': '부처님오신날', 'isHoliday': 'Y', 'locdate': 20180522, 'seq': 1}]
[{'dateKind': '01', 'dateName': '현충일', 'isHoliday': 'Y', 'locdate': 20180606, 'seq': 1}, {'dateKind': '01', 'dateName': '전국동시지방선거', 'isHoliday': 'Y', 'locdate': 20180613, 'seq': 1}]
{'dateKind': '01', 'dateName': '광복절', 'isHoliday': 'Y', 'locdate': 20180815, 'seq': 1}
[{'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20180923, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20180924, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20180925, 'seq': 1}, {'dateKind': '01', 'dateName': '대체휴무일', 'isHoliday': 'Y', 'locdate': 20180926, 'seq': 1}]
[{'dateKind': '01', 'dateName': '개천절', 'isHoliday': 'Y', 'locdate': 20181003, 'seq': 1}, {'dateKind': '01', 'dateName': '한글날', 'isHoliday': 'Y', 'locdate': 20181009, 'seq': 1}]
{'dateKind': '01', 'dateName': '기독탄신일', 'isHoliday': 'Y', 'locdate': 20181225, 'seq': 1}
{'dateKind': '01', 'dateName': '1월1일', 'isHoliday': 'Y', 'locdate': 20190101, 'seq': 1}
[{'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20190204, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20190205, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20190206, 'seq': 1}]
{'dateKind': '01', 'dateName': '삼일절', 'isHoliday': 'Y', 'locdate': 20190301, 'seq': 1}
[{'dateKind': '01', 'dateName': '어린이날', 'isHoliday': 'Y', 'locdate': 20190505, 'seq': 1}, {'dateKind': '01', 'dateName': '대체공휴일', 'isHoliday': 'Y', 'locdate': 20190506, 'seq': 1}, {'dateKind': '01', 'dateName': '부처님오신날', 'isHoliday': 'Y', 'locdate': 20190512, 'seq': 1}]
{'dateKind': '01', 'dateName': '현충일', 'isHoliday': 'Y', 'locdate': 20190606, 'seq': 1}
{'dateKind': '01', 'dateName': '광복절', 'isHoliday': 'Y', 'locdate': 20190815, 'seq': 1}
[{'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20190912, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20190913, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20190914, 'seq': 1}]
[{'dateKind': '01', 'dateName': '개천절', 'isHoliday': 'Y', 'locdate': 20191003, 'seq': 1}, {'dateKind': '01', 'dateName': '한글날', 'isHoliday': 'Y', 'locdate': 20191009, 'seq': 1}]
{'dateKind': '01', 'dateName': '기독탄신일', 'isHoliday': 'Y', 'locdate': 20191225, 'seq': 1}
[{'dateKind': '01', 'dateName': '1월1일', 'isHoliday': 'Y', 'locdate': 20200101, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20200124, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20200125, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20200126, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20200127, 'seq': 1}]
{'dateKind': '01', 'dateName': '삼일절', 'isHoliday': 'Y', 'locdate': 20200301, 'seq': 1}
[{'dateKind': '01', 'dateName': '제21대 국회의원선거', 'isHoliday': 'Y', 'locdate': 20200415, 'seq': 1}, {'dateKind': '01', 'dateName': '부처님오신날', 'isHoliday': 'Y', 'locdate': 20200430, 'seq': 1}]
{'dateKind': '01', 'dateName': '어린이날', 'isHoliday': 'Y', 'locdate': 20200505, 'seq': 1}
{'dateKind': '01', 'dateName': '현충일', 'isHoliday': 'Y', 'locdate': 20200606, 'seq': 1}
[{'dateKind': '01', 'dateName': '광복절', 'isHoliday': 'Y', 'locdate': 20200815, 'seq': 1}, {'dateKind': '01', 'dateName': '임시공휴일', 'isHoliday': 'Y', 'locdate': 20200817, 'seq': 1}]
{'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20200930, 'seq': 1}
[{'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20201001, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20201002, 'seq': 1}, {'dateKind': '01', 'dateName': '개천절', 'isHoliday': 'Y', 'locdate': 20201003, 'seq': 1}, {'dateKind': '01', 'dateName': '한글날', 'isHoliday': 'Y', 'locdate': 20201009, 'seq': 1}]
{'dateKind': '01', 'dateName': '기독탄신일', 'isHoliday': 'Y', 'locdate': 20201225, 'seq': 1}
{'dateKind': '01', 'dateName': '1월1일', 'isHoliday': 'Y', 'locdate': 20210101, 'seq': 1}
[{'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20210211, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20210212, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20210213, 'seq': 1}]
{'dateKind': '01', 'dateName': '삼일절', 'isHoliday': 'Y', 'locdate': 20210301, 'seq': 1}
[{'dateKind': '01', 'dateName': '어린이날', 'isHoliday': 'Y', 'locdate': 20210505, 'seq': 1}, {'dateKind': '01', 'dateName': '부처님오신날', 'isHoliday': 'Y', 'locdate': 20210519, 'seq': 1}]
{'dateKind': '01', 'dateName': '현충일', 'isHoliday': 'Y', 'locdate': 20210606, 'seq': 1}
[{'dateKind': '01', 'dateName': '광복절', 'isHoliday': 'Y', 'locdate': 20210815, 'seq': 1}, {'dateKind': '01', 'dateName': '대체공휴일', 'isHoliday': 'Y', 'locdate': 20210816, 'seq': 1}]
[{'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20210920, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20210921, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20210922, 'seq': 1}]
[{'dateKind': '01', 'dateName': '개천절', 'isHoliday': 'Y', 'locdate': 20211003, 'seq': 1}, {'dateKind': '01', 'dateName': '대체공휴일', 'isHoliday': 'Y', 'locdate': 20211004, 'seq': 1}, {'dateKind': '01', 'dateName': '한글날', 'isHoliday': 'Y', 'locdate': 20211009, 'seq': 1}, {'dateKind': '01', 'dateName': '대체공휴일', 'isHoliday': 'Y', 'locdate': 20211011, 'seq': 1}]
{'dateKind': '01', 'dateName': '기독탄신일', 'isHoliday': 'Y', 'locdate': 20211225, 'seq': 1}
[{'dateKind': '01', 'dateName': '1월1일', 'isHoliday': 'Y', 'locdate': 20220101, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20220131, 'seq': 1}]
[{'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20220201, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20220202, 'seq': 1}]
[{'dateKind': '01', 'dateName': '삼일절', 'isHoliday': 'Y', 'locdate': 20220301, 'seq': 1}, {'dateKind': '01', 'dateName': '대통령선거일', 'isHoliday': 'Y', 'locdate': 20220309, 'seq': 1}]
[{'dateKind': '01', 'dateName': '어린이날', 'isHoliday': 'Y', 'locdate': 20220505, 'seq': 1}, {'dateKind': '01', 'dateName': '부처님오신날', 'isHoliday': 'Y', 'locdate': 20220508, 'seq': 1}]
[{'dateKind': '01', 'dateName': '전국동시지방선거', 'isHoliday': 'Y', 'locdate': 20220601, 'seq': 1}, {'dateKind': '01', 'dateName': '현충일', 'isHoliday': 'Y', 'locdate': 20220606, 'seq': 1}]
{'dateKind': '01', 'dateName': '광복절', 'isHoliday': 'Y', 'locdate': 20220815, 'seq': 1}
[{'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20220909, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20220910, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20220911, 'seq': 1}, {'dateKind': '01', 'dateName': '대체공휴일', 'isHoliday': 'Y', 'locdate': 20220912, 'seq': 1}]
[{'dateKind': '01', 'dateName': '개천절', 'isHoliday': 'Y', 'locdate': 20221003, 'seq': 1}, {'dateKind': '01', 'dateName': '한글날', 'isHoliday': 'Y', 'locdate': 20221009, 'seq': 1}, {'dateKind': '01', 'dateName': '대체공휴일', 'isHoliday': 'Y', 'locdate': 20221010, 'seq': 3}]
{'dateKind': '01', 'dateName': '기독탄신일', 'isHoliday': 'Y', 'locdate': 20221225, 'seq': 1}
[{'dateKind': '01', 'dateName': '1월1일', 'isHoliday': 'Y', 'locdate': 20230101, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20230121, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20230122, 'seq': 1}, {'dateKind': '01', 'dateName': '설날', 'isHoliday': 'Y', 'locdate': 20230123, 'seq': 1}, {'dateKind': '01', 'dateName': '대체공휴일', 'isHoliday': 'Y', 'locdate': 20230124, 'seq': 1}]
{'dateKind': '01', 'dateName': '삼일절', 'isHoliday': 'Y', 'locdate': 20230301, 'seq': 1}
[{'dateKind': '01', 'dateName': '어린이날', 'isHoliday': 'Y', 'locdate': 20230505, 'seq': 1}, {'dateKind': '01', 'dateName': '부처님오신날', 'isHoliday': 'Y', 'locdate': 20230527, 'seq': 1}, {'dateKind': '01', 'dateName': '대체공휴일', 'isHoliday': 'Y', 'locdate': 20230529, 'seq': 1}]
{'dateKind': '01', 'dateName': '현충일', 'isHoliday': 'Y', 'locdate': 20230606, 'seq': 1}
{'dateKind': '01', 'dateName': '광복절', 'isHoliday': 'Y', 'locdate': 20230815, 'seq': 1}
[{'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20230928, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20230929, 'seq': 1}, {'dateKind': '01', 'dateName': '추석', 'isHoliday': 'Y', 'locdate': 20230930, 'seq': 1}]
[{'dateKind': '01', 'dateName': '개천절', 'isHoliday': 'Y', 'locdate': 20231003, 'seq': 1}, {'dateKind': '01', 'dateName': '한글날', 'isHoliday': 'Y', 'locdate': 20231009, 'seq': 1}]
{'dateKind': '01', 'dateName': '기독탄신일', 'isHoliday': 'Y', 'locdate': 20231225, 'seq': 1}

In [10]:
df_holidays = pd.DataFrame(holidays)
df_holidays

    dateKind dateName isHoliday   locdate  seq
0         01       신정         Y  20120101    1
1         01       설날         Y  20120122    1
2         01       설날         Y  20120123    1
3         01       설날         Y  20120124    1
4         01      삼일절         Y  20120301    1
..       ...      ...       ...       ...  ...
202       01       추석         Y  20230929    1
203       01       추석         Y  20230930    1
204       01      개천절         Y  20231003    1
205       01      한글날         Y  20231009    1
206       01    기독탄신일         Y  20231225    1

[207 rows x 5 columns]

In [12]:
df_holidays['locdate'] = pd.to_datetime(df_holidays['locdate'], format='%Y%m%d')
df_holidays

    dateKind dateName isHoliday    locdate  seq
0         01       신정         Y 2012-01-01    1
1         01       설날         Y 2012-01-22    1
2         01       설날         Y 2012-01-23    1
3         01       설날         Y 2012-01-24    1
4         01      삼일절         Y 2012-03-01    1
..       ...      ...       ...        ...  ...
202       01       추석         Y 2023-09-29    1
203       01       추석         Y 2023-09-30    1
204       01      개천절         Y 2023-10-03    1
205       01      한글날         Y 2023-10-09    1
206       01    기독탄신일         Y 2023-12-25    1

[207 rows x 5 columns]

In [15]:
df_holidays.to_csv("./data/holidays.csv", encoding='UTF-8', index=0)